.logo__link {
    font-family: 'Cabin', sans-serif;
    font-size: 25.8333px;
    font-weight: 500;
}

.logo__link:hover{
    cursor: pointer;
}

@media screen and (min-width=440px) {
    .logo__link {
        width: 849px;
        height: 221px;
        font-size: 17.91px;
    }
}