.informacao__botao {
    font-family: 'lato', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    border:none;
    width: 152px;
    height: 57px;
    background-color: #5ca720;
    border-radius: 0 5px 5px 0;
    transform: translate(-4px, 3px);
}